page-dashboard {
    .no-item {
        color: map-get($colors,klightgray);
        text-align: center;
    }

    .bill-amount{
        color: map-get($colors,kred);
        font-weight: normal;
        font-style: oblique;
        text-align: right;
    }

    .right-align-small-text{
        text-align: right;
        font-size: smaller;
    }

    .item-note{
        text-align: left;
        font-size: 7pt;
    }
    
    .item-title{
        font-size: large;
        font-style: oblique;
    }

    .item-layout{
        margin: 5;
        padding: 0;
        height: 25px;
    }

    .no-spacing{
        padding: 0;
        margin: 0;
    }
       
}