<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onCreateNew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align: center;">
    {{billDueTitle}}
  </h2>
  <hr>
  <ion-list>
    <!--Display a list of item objects-->
    <h6 class="no-item" *ngIf="billsDue.length === 0">Whoo! No Unpaid Bills!</h6>
    <ion-item-sliding *ngFor="let bill of billsDue">
      <ion-item (click)="onRecordClick(bill)" class="item-layout">
        <ion-grid>
          <ion-row>
            <ion-col col-8 class="item-title">
              {{bill.name}}<br>
              <p class="item-note">{{bill.description}}</p>
            </ion-col>
            <ion-col col-4 class="right-align-small-text">
              {{bill.nextOccurenceDate | date}}
              <h3 class="bill-amount">{{bill.amount | currency}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="onMarkRecordPaid(bill)">
        <button ion-button expandable (click)="onMarkRecordPaid(bill)">
          <!--ion-icon name="checkmark"></ion-icon>-->
          Mark Paid
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>