<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-scroll scrollX="true" direction="x">
    <ion-card class="ion-card-square" *ngFor="let card of loadCards()">
      <button ion-button large style="height: 155pt; width: 180pt;" color={{card.color}}>
        <div class="card-title">{{card.name}}</div>
        <div class="card-subtitle">{{card.amount | currency}}</div>
      </button>
    </ion-card>
  </ion-scroll>

  <h2 style="text-align: center;">
    {{upcomingTitle}}
  </h2>
  <hr>
  <ion-list>
    <!--Display a list of item objects-->
    <h6 class="no-item" *ngIf="loadBills().length === 0">Whoo! No Upcoming Bills!</h6>
    <ion-item-sliding *ngFor="let bill of loadBills()">
      <ion-item (click)="viewItem(bill)">
        <ion-grid no-padding>
          <ion-row style="height: 30px;">
            <ion-col col-1>
              <ion-avatar>
                <ion-icon name="cash"></ion-icon>
              </ion-avatar>
            </ion-col>
            <ion-col col-7 style="font-size: medium;vertical-align: middle;">
              {{bill.name}}
            </ion-col>
            <ion-col col-4 style="text-align: right;font-size: small;">
              {{bill.nextDueDate | date}}<br>
              <h3 style="color: red; font-weight: bold;">{{bill.amount | currency}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="markPaid(bill)">
        <button ion-button expandable (click)="markPaid(bill)">
          <!--ion-icon name="checkmark"></ion-icon>-->
          Mark Paid
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>