<ion-header>
  <ion-navbar>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let profileData of profile">
    <ion-label class="user-name" text-center>{{profileData.name}}</ion-label>
    <ion-label class="user-nickname" text-center>&nbsp;&nbsp;{{profileData.nickname}}</ion-label>
    <ion-icon class="icon-user-detail" name="briefcase">&nbsp;&nbsp;{{profileData.jobtitle}}</ion-icon>
    <ion-icon class="icon-user-detail" name="mail">&nbsp;&nbsp;{{profileData.email}}</ion-icon>
    <ion-icon class="icon-user-detail" name="call">&nbsp;&nbsp;{{profileData.phone}}</ion-icon>
    <button ion-button full clear (click)="onEditProfileDetails(profileData)">Edit Profile</button>
  </ion-card>

  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Dark mode
    </ion-label>
    <ion-toggle id="themeToggle" slot="end"></ion-toggle>
  </ion-item>

  <ion-list *ngIf="1===0">
    <button ion-button full outline large style="margin: 0em;">
      <ion-icon name="color-palette" style="margin-right: 1em;"></ion-icon>
      <ion-label text-left>Themes</ion-label>
    </button>

    <button ion-button full clear large style="margin: 0em;">
      <ion-icon name="calendar" style="margin-right: 1em;"></ion-icon>
      <ion-label text-left>Calendar</ion-label>
    </button>
    <button ion-button full outline large style="margin: 0em;">
      <ion-icon name="stats" style="margin-right: 1em;"></ion-icon>
      <ion-label text-left>Stats</ion-label>
    </button>
    <button ion-button full clear large style="margin: 0em;">
      <ion-icon name="lock" style="margin-right: 1em;"></ion-icon>
      <ion-label text-left>Security</ion-label>
    </button>
    <button ion-button full outline large style="margin: 0em;">
      <ion-icon name="information-circle" style="margin-right: 1em;"></ion-icon>
      <ion-label text-left>About</ion-label>
    </button>
  </ion-list>

</ion-content>