<ion-header>
  <ion-navbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <!--Budget Section -->
    <ion-item-group>
      <h6 class="no-item" *ngIf="activeBudgetItems.length === 0" padding-top>No Items in your budget :(</h6>
      <ion-item *ngFor="let item of activeBudgetItems">
        <button ion-button clear item-start icon-only (click)="onBudgetItemClick(item)">
          <ion-icon name="close" color="kred"></ion-icon>
        </button>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-9 class="item-title">
              {{item.title}}
            </ion-col>
            <ion-col col-2 class="right-align-small-text">
              {{item.amount | currency}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <hr>
      <ion-item>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-9 class="item-title">
              Total
            </ion-col>
            <ion-col col-3 class="right-align-small-text">
              {{updateActiveBudgetTotal() | currency}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-card>
  <!--Manual Section-->
  <ion-item-group>
    <ion-item-divider color="light">Manual</ion-item-divider>
    <ion-item *ngFor="let item of avaliableManualItems">
      <button ion-button clear item-start icon-only (click)="onItemClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 class="item-title">
            {{item.title}}
          </ion-col>
          <ion-col col-3 class="right-align-small-text">
            {{item.amount | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button ion-button clear (click)="onNewManualItemClick()">
      Add New Manual Item
    </button>
  </ion-item-group>
  <!--Income Section-->
  <ion-item-group>
    <ion-item-divider color="light">Income</ion-item-divider>
    <ion-item *ngFor="let item of avaliableIncomeItems">
      <button ion-button clear item-start icon-only (click)="onItemClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 class="item-title">
            {{item.title}}
          </ion-col>
          <ion-col col-3 class="right-align-small-text">
            {{item.amount | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
  <!--Bill Section-->
  <ion-item-group>
    <ion-item-divider color="light">Bills</ion-item-divider>
    <ion-item *ngFor="let item of avaliableBillItems">
      <button ion-button clear item-start icon-only (click)="onItemClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 class="item-title">
            {{item.title}}
          </ion-col>
          <ion-col col-3 class="right-align-small-text">
            {{item.amount | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>

</ion-content>