<ion-header>
  <ion-navbar>
    <ion-title>
      Budget
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <!--Budget Section -->
    <ion-item-group>
      <h6 class="no-item" *ngIf="getBudgetItems().length === 0" padding-top>No Items in your budget :(</h6>
      <ion-item *ngFor="let item of getBudgetItems()">
        <button ion-button clear item-start icon-only (click)="onBudgetItemClick(item)">
          <ion-icon name="close" color="red"></ion-icon>
        </button>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-9 style="font-size: small;">
              {{item.reference}}
            </ion-col>
            <ion-col col-2 *ngIf="item.constructor.name === 'Paystub'" style="font-size: small; text-align: right;">
              {{item.pay | currency}}
            </ion-col>
            <ion-col col-2 *ngIf="item.constructor.name === 'Bill' || item.constructor.name === 'ManualItem'" style="font-size: small; text-align: right;">
              {{item.amount | currency}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <hr>
      <ion-item>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-9 style="font-size: small;">
              Total
            </ion-col>
            <ion-col col-3 style="font-size: small; text-align: right;">
              {{totalBudget() | currency}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-card>
  <!--Manual Section-->
  <ion-item-group>
    <ion-item-divider color="light">Manual</ion-item-divider>
    <ion-item *ngFor="let item of getManualItems()">
      <button ion-button clear item-start icon-only (click)="onManualItemClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 style="font-size: small;">
            {{item.reference}}
          </ion-col>
          <ion-col col-3 style="font-size: small; text-align: right;">
            {{item.amount | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <button ion-button clear (click)="onNewManualItem()">
      Add New Manual Item
    </button>
  </ion-item-group>
  <!--Income Section-->
  <ion-item-group>
    <ion-item-divider color="light">Income</ion-item-divider>
    <ion-item *ngFor="let item of getIncomeItems()">
      <button ion-button clear item-start icon-only (click)="onIncomeClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 style="font-size: small;">
            {{item.reference}}
          </ion-col>
          <ion-col col-3 style="font-size: small; text-align: right;">
            {{item.pay | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>
  <!--Bill Section-->
  <ion-item-group>
    <ion-item-divider color="light">Bills</ion-item-divider>
    <ion-item *ngFor="let item of getBillItems()">
      <button ion-button clear item-start icon-only (click)="onBillClick(item)">
        <ion-icon name="add" color="green"></ion-icon>
      </button>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-9 style="font-size: small;">
            {{item.reference}}
          </ion-col>
          <ion-col col-3 style="font-size: small; text-align: right;">
            {{item.amount | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-group>

</ion-content>