page-budget {
    .no-item {
        color: map-get($colors,klightgray);
        text-align: center;
    }

    .right-align-small-text{
        text-align: right;
        font-size: smaller;
    }

    .item-note{
        text-align: left;
        font-size: 7pt;
    }
    
    .item-title{
        font-size: large;
        font-style: oblique;
    }

    .item-layout{
        margin: 0;
        padding: 0;
        border: 0;
    }
}
