<ion-header>
  <ion-navbar>
    <ion-title>
      Records
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <!--Tabs for each section of records-->
    <ion-segment [(ngModel)]="records">
      <ion-segment-button value="income">
        Income
      </ion-segment-button>
      <ion-segment-button value="bills">
        Bills
      </ion-segment-button>
    </ion-segment>
  </div>

  <!--Tab data -->
  <div [ngSwitch]="records">
    <ion-list *ngSwitchCase="'income'">
      <button ion-item *ngFor="let item of loadIncome()" (click) = "viewRecord(item)">
        {{item.name}}
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'bills'">
      <button ion-item *ngFor="let item of loadBills()" (click) = "viewRecord(item)">
        {{item.name}}
      </button>
    </ion-list>
  </div>

</ion-content>
