<ion-header>
  <ion-navbar>
    <ion-title>
      Records
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onCreateNew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <!--Tabs for each section of records-->
    <ion-segment [(ngModel)]="records">
      <ion-segment-button value="income">
        Income
      </ion-segment-button>
      <ion-segment-button value="bills">
        Bills
      </ion-segment-button>
    </ion-segment>
  </div>

  <!--Tab data -->
  <div [ngSwitch]="records">
    <ion-list *ngSwitchCase="'income'">
      <h6 class="no-item" *ngIf="fetchIncome().length === 0" padding-top>No Income added :(</h6>
      <button ion-item *ngFor="let income of fetchIncome()" (click)="onItemClick(item)" class="item-layout">
        <ion-grid>
          <ion-row>
            <ion-col col-8 class="item-title">
              {{income.title}}<br>
            </ion-col>
            <ion-col col-4 class="right-align-small-text">
              <h3 class="income-amount">{{income.amount | currency}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <ion-grid>
        <ion-row>
          <ion-col col-7>
            Total
          </ion-col>
          <ion-col col-5 text-right>
            {{fetchIncomeTotal() | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <!--Bill Section-->
    <ion-list *ngSwitchCase="'bills'">
      <h6 class="no-item" *ngIf="fetchBills().length === 0" padding-top>No Bills added :(</h6>
      <button ion-item *ngFor="let bill of fetchBills()" (click)="onItemClick(item)" no-padding style="font-size: small;">
        <ion-grid>
          <ion-row>
            <ion-col col-8 class="item-title">
              {{bill.title}}<br>
            </ion-col>
            <ion-col col-4 class="right-align-small-text">
              <h3 class="bill-amount">{{bill.amount | currency}}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <ion-grid>
        <ion-row>
          <ion-col col-7>
            Total
          </ion-col>
          <ion-col col-5 text-right>
            {{fetchBillTotal() | currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

</ion-content>