<ion-header>
    <ion-toolbar>
        <ion-title>
        {{item.name}} 
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!--Bill Records Update-->
<ion-content *ngIf="type === 'Bill'">
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="item.name"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Auto Pay</ion-label>
            <ion-toggle [(ngModel)]="item.isAutopay"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Date Due</ion-label>
            <ion-datetime pickerFormat="MMM DD, YYYY" displayFormat="MMM DD, YYYY" placeholder="Select Date" [(ngModel)]="item.nextDueDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Amount (Optional)" [(ngModel)]="item.amount"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list><!--if record is a bill or credit card-->
        <ion-list-header>
            Past Payments
        </ion-list-header>
        <ion-item>Previous Payment 1</ion-item>
        <ion-item>Previous Payment 2</ion-item>
        <ion-item>Previous Payment 3</ion-item>
        <ion-item>Previous Payment 4</ion-item>
    </ion-list>
    <button ion-button block large (click)="updateRecord(item)">
        Update Bill
    </button>
</ion-content>

<!--Paystub Records Update-->
<ion-content *ngIf="type === 'Paystub'">
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="item.name"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label>Direct Deposit</ion-label>
            <ion-toggle [(ngModel)]="item.isDirectDeposit"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Next Pay Date</ion-label>
            <ion-datetime pickerFormat="MMM DD, YYYY" displayFormat="MMM DD, YYYY" placeholder="Select Date" [(ngModel)]="item.nextPayDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-input type="number" placeholder="Amount (Optional)" [(ngModel)]="item.pay"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list><!--if record is a bill or credit card-->
        <ion-list-header>
            Past Paystubs
        </ion-list-header>
        <ion-item>Previous Paystub 1</ion-item>
        <ion-item>Previous Paystub 2</ion-item>
        <ion-item>Previous Paystub 3</ion-item>
        <ion-item>Previous Paystub 4</ion-item>
    </ion-list>
    <button ion-button block large (click)="updateRecord(item)">
        Update Paystub
    </button>
</ion-content>